[submodule "C:/Users/cmateer/Desktop/TestRepos/App1"]
	path = C:/Users/cmateer/Desktop/TestRepos/App1
	url = C:\\Users\\cmateer\\Desktop\\TestRepos\\App1
[submodule "App1"]
	path = App1
	url = C:\\Users\\cmateer\\Desktop\\App1
